body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: white;
	background-size: cover;
}
.logo{
	position: absolute;
	top: 12%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.logo img{
	position: absolute;
	transform: translate(-170%,-50%);
	width: 200px;
	height: 60px;
}
.logo-box{
	padding: 13px;
	width: 670px;
	position: absolute;
	overflow: hidden;
	top: 20%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 10px;
	color: white;
	background-color: #8b0a30;
	border-color: #8b0a30;
	border-radius: 5px
}
.logo-box p{
	margin: 0;
	padding: 0 3px ;
	font-size: 15px;
}
.navigation_bar ul{
	list-style-type: none;
	margin-top: 12%;
	padding: 0;
	border: 1px solid #555;
	width: 15%;
	height: 100%;
	background-color: #f1f1f1;
	position: fixed;
	overflow: auto;
}
.navigation_bar li{
	text-align: center;
	border-bottom: 1px solid #555;
}
.navigation_bar li a{
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
}
.navigation_bar li a.active{
	background-color: #8b0a30;
	color: white;
}
.navigation_bar li a:hover:not(.active){
	background-color: #555;
	color: white;
}
.input-form{
	margin-top: 70px;
	margin-bottom: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 350px;
	height: 420px;
	padding: 80px 40px;

}
.input-form h3{
	margin: 0;
	padding: 0 0 20px;
	text-align: left;
}
.input-form p{
	padding: 0;
	margin: 0;
	font-weight: bold;
	color: black;
}
.input-form input{
	width: 100%;
	margin-bottom: 20px;
}
.input-form input[type="text"], .input-form input[type="password"]{
	border: none;
	border-bottom: 1px solid black;
	background: transparent;
	outline: none;
	height: 40px;
	color: black;
	font-size: 16px;
}
.input-form input[type="submit"]{
	border: none;
	outline: none;
	color: white;
	font-size: 16px;
	background: #b01030;
	cursor: pointer;
	border-radius: 20px
}
.input-form input[type="submit"]:hover{
	background: white;
	color: black;
}
.input-form input[type="radio"]{
	width: 5%;
}
.input-form input[type="reset"]{
	border: none;
	outline: none;
	color: white;
	font-size: 16px;
	background: gray;
	cursor: pointer;
	border-radius: 20px
}
.input-form input[type="reset"]:hover{
	background: #e0e0d1;
	color: black;
}
.input-form a{
	color: black;
	font-size: 14px;
	font-weight: bold;
}
